 a {
   text-decoration: none;
   color: black;
 }

 header {
   height: 56px;
   display: flex;
   justify-content: space-evenly;

   a {
     display: flex;
     align-items: center;

     img {
       height: 100%;
     }
   }
 }

 .first-view {
   height: calc(100vh - 45px);
   width: 100%;
   background-image: url("../../assets/img/dreierpack-weihnachten.jpg");
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: cover;
   background-position: center;

   a {
     display: grid;
     justify-items: center;
     text-shadow: 0 0 15px white;
   }
 }

.teaser {
  height: 400px;
  display: grid;
  justify-items: center;
  align-content: center;
  padding: 25px;
  background-color: #2e2e2e;
  color: white;
  text-align: center;
}

 .description-section {
   display: grid;
   grid-template-rows: 200px auto;
   @media screen and (min-width: 720px) {
	height: 60vh;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
   }
   &>div {
     display: grid;
     align-items: center;
   }

   .image {
     height: 100%;
     width: 100%;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
   }

   &#why {
     .why-img {
       background-image: url("../../assets/img/hopfen.jpg");
     }
   }

   &.what {
     .what-img {
       background-image: url("../../assets/img/detailansicht-etikett.jpg");
     }
   }
 }

 footer {
   width: 100%;
   background-color: darkgray;
   display: flex;
   justify-content: space-around;

   button.mat-button {
     color: white;
   }
 }